<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Forms</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>plz fillout this form</h2>
        <form method="post">
          {{form.as_p}}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="submit">
        </form>
      </div>

    </div>
  </body>
</html>
