<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brain Tumor Classification</title>
    <link rel="stylesheet" href={% static "css_portion/style.css" %}/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 align="center">Brain Tumor Classification Using CNN(Convolutional Neural Network) Using architecture ResNet101(Residual Networks)</h1>
        <img src= {% static "images/BTC.jpg" %} /><br>
    <form method="post" action= {% url 'check' %} enctype="multipart/form-data">
      {%csrf_token%}
    <div class="form-group">
      <label for="exampleFormControlFile1">Enter a MRI picture to scan for classification</label>
      <input type="file" class="form-control-file" name="test_file"  accept=".jpg, .png, .jpeg" required >
      <input type="submit" class="btn btn-primary" value="submit">
    </div>
  </form>
      </div>
    </div>

  </body>
</html>
